*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom, #00aaff, #00ffcc);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 25px;
  border: 1px solid #fff;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 12px;
  word-wrap: break-word;
  word-wrap: break-all;
}

.output .prev-op {
  color: rgba(225, 225, 255, 0.75);
  font-size: 25px;
}

.output .current-op {
  color: white;
  font-size: 35px;
}
